[Unit]
Description=geekworm x735 power signal monitor service
Requires=pigpiod.service
After=pigpiod.service

[Service]
ExecStart=/usr/bin/geekworm-x735-power monitor

[Install]
WantedBy=multi-user.target
